<!DOCTYPE html>
<html>
  <head>
    <meta property='og:title' content='NotHub (Notification Client for GitHub)'>
    <meta property='og:site_name' content='NotHub (Notification Client for GitHub)'>
    <meta property='og:url' content='http://nothub.org/'>
    <meta property='og:type' content='activity'>
    <meta property='og:image' content='http://nothub.org/images/header.png'>
    <meta property='og:description' content='NotHub is a Chrome Extension for GitHub notification.'>
    <meta content='NotHub is a Chrome Extension for GitHub notification.' name='description'>
    <meta content='GitHub Client Notification' name='keywords'>
    <link href='css/style.css' rel='stylesheet' />
    <title>NotHub</title>
  </head>
  <body>
    <section id='content'>
      <%= yield %>
    </section>
    <footer>
      <span>
        &copy; 2012 Ryunosuke SATO. All rights reserved.
      </span>
    </footer>
    <%= partial 'analytics_tracker.html' %>
    <%= partial 'github_ribbon.html' %>
  </body>
</html>
